@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define variables de cores para temas. Podem ser sobrescritas pelo App ao carregar configurações do tenant. */
:root {
  --primary-color: #1e40af; /* Azul padrão (tailwind blue-900) */
  --secondary-color: #10b981; /* Verde padrão (tailwind emerald-500) */
}